{% include "header.html" %}

<section class="main-body">
    <div class="titles">
        <p>Our blog</p>
        <div class="main-heading">
        <h1>The untitled UI <span>journal</span></h1>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat mollitia adipisci unde sapiente accusamus odio minus magnam dignissimos. Minima cum vitae aspernatur amet laudantium dolorem explicabo! Quas ut optio non?</p>
        <div class="input-email" >
            <form action="">
                <input type="email" placeholder="Enter your email">
                <a href="{% url 'signup'%}">
                <div class="btn btn-2" type="submit">
                    
                    <p>Get Started</p>
                
                </div>
            </a>
            </form>
        </div>
    </div>
</section>
    <section class="blog-post">
        <div class="page-title">
            <h1>Recent blog posts</h1>
        </div>
        <div class="blogs">
            <div class="blog-post-left">
                <div class="blog-img">
                    <img src="/static/img/pic-1.jpg" alt="">
                    
                </div>
                <div class="page-title">
                    <h1>Bill walsh leadership lesson</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam beatae officiis autem perspiciatis, assumenda et facere accusantium aspernatur dignissimos </p>
                </div>
                <div class="tags-title">
                    <div class="tag">Design</div>
                    <div class="tag">Research</div>
                    <div class="tag">Presentation</div>
                </div>
            </div>
            <div class="blog-post-right">
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>

                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        
    </section>
    <section class="blog-post all-blog-post">
        <div class="page-title">
            <h1>All blog posts</h1>
        </div>
        <div class="all-blogs ">
                   <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
                <div class="blog-right">
                    <div class="blog-right-img">
                        <img src="/static/img/pic-1.jpg" alt="">
                    </div>
                    <div class="blog-right-txt">
                        <h2>Lana Steiner | 18 Jan 2022</h2>
                        <h1>Building your API stack</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit molestiae, officia nulla </p>
                        <div class="tags-title">
                            <div class="tag">Design</div>
                            <div class="tag">Research</div>
                            
                        </div>
                    </div>
                </div>
        </div>
        
    </section>