<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-main">
        <form action="">
            <h1><a href="/"> Hola</a></h1>
            <input type="text" name="Username" placeholder="Username" class="main-input" required>
            <input type="password" name="Password" placeholder="Password" class="main-input" required>

            <input type="submit" value="Login" class="login-btn">
            <p><a href="/signup"> Create a new account </a></p>
        </form>
    </div>
</body>
</html>